@using PagedList.Mvc
@using LibraryProject.Models
@model PagedList.IPagedList<LibraryProject.Models.Author>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista Autorów";
}

@using (Html.BeginForm("Index", "Authors", FormMethod.Get))
{
    <p>
        Szukaj: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <button class="btn btn-info" type="submit">Szukaj <i class="fa fa-search"></i></button>
        <a href="@Url.Action("Index","Authors")" class="btn btn-success">Pokaż wszystko <i class="fa fa-refresh"></i></a>
    </p>
}

<div class="row">
    <div class="col-md-6">
        <h4>
            @Html.ActionLink("Autor", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "btn" })
        </h4>
    </div>
    <div class="col-md-6">
        <h4>
            @Html.ActionLink("Ilość napisanych książek", "Index", new { sortOrder = ViewBag.Count, currentFilter = ViewBag.CurrentFilter }, new { @class = "btn" })
        </h4>
    </div>
    @foreach (var item in @Model)
    {
        <div class="col-md-6">
            <b><a class="btn" href="@Url.Action("Details", "Authors", new {item.ID})">@item.FullName</a></b>
        </div>
        <div class="col-md-6">
            <b>@item.Books.Count</b>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-3 offset-9">
        Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

